# Name: BAAVSS
# Author: E Hall
# Version: 1.0
# Date: 2020/02/13
# Requires: ImageJ >= 1.37
# Generated the jar file using: "jar cvfM Astronomy_.jar plugins.config *"

# Plugins>Astronomy, "BAA VSS",org.britastro.vss.astroimagej.plugin.VSSDatabasePlugIn_("")
Plugins, "BAA VSS",org.britastro.vss.astroimagej.plugin.VSSDatabasePlugIn_("")
